.App {
  text-align: center;
}

input {
  height: 30px;
  margin: 40px 10px;
}

.search__button {
  color: white;
  background-color: orange;
  border-radius: 30px;
  height: 40px;
  width: 100px;
  font-weight: 700;
}

h1 {
  color: orange;
}
